<!DOCTYPE html>
<html>
<head>
	<title>Bang</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Messanger">

  <% if (environment === 'production') { %>
    <link href="/build/style.css" rel="stylesheet">
  <% } else { %>
    <link href="<%- webpackServer %>/build/style.css" rel="stylesheet">
  <% } %>
</head>
<body>
	<div id="app">
	</div>
	<script>
	 var initialAppData = <%- initialAppData %>;
   var config = <%- config %>;
	</script>

  <% if (environment === 'production') { %>
	  <script type="text/javascript" src="/build/build.js"></script>
  <% } else { %>
    <script type="text/javascript" src="<%- webpackServer %>/build/build.js"></script>
  <% } %>
</body>

</html>
