<!DOCTYPE html>
<html>
<head>
	<title>Bang</title>
	<!-- Meta Tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Messanger">

</head>
<body>
	<div id="app">
	</div>
	<script>
	window.initialAppData = {};
	</script>
	<script type="text/javascript" src="build.js"></script>
</body>

</html>
