.SettingsNav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  padding: 1em;

}

.return-button {
  width: 100%;
  background-color: #222;
  margin: 0;
  margin-bottom: 1em;
}

.NavItem-link {
  color: #6b6e72;
  display: block;
  transition: 75ms ease-in-out;
  transition-property: background,color;
  padding: 0.5em;
  text-decoration: none;
  border-radius: 6px;

  &--active {
    background: rgba(40,44,49,.06);
  pointer-events: none;
  color: #282c31;
  }
}
