.chat {
  justify-content: flex-end;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-right: -16px;

  textarea {
    margin-top: 0.5em;
  }

  &__items {
    overflow-y: scroll;
    position: relative;
    height: 100%;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    padding-left: 0.5em;
    padding-right: 1em;
  }
}
