.chat {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  height: calc(100% - 80px);

  textarea {
    margin-top: 0.5em;
  }

  &__items {
    position: relative;
    height: 100%;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    padding-left: 0.5em;
    overflow: hidden;
  }

  .scroller {
    overflow: hidden;
    overflow-y: auto;
  }
}
