.account-options {
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
  overflow: hidden;
  position: absolute;
  z-index: 2;
  border-radius: 3px;
  right: 0;
  padding-left: 0;
  margin: 0;
  min-width: 110px;

  .item {
    display: flex;
    padding: 10px 14px;
    cursor: pointer;
    box-sizing: border-box;
    color: #99aab5;
    margin: 0;
    font-size: 15px;
    line-height: 18px;
    align-items: center;

    &--attention {
      color: red;
    }
  }

  a {
    width: 100%;
    color: inherit;
    display: block;
    padding: 0;
    text-decoration: none;
  }

  &__icon {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    padding-right: 14px;
    float: left;
  }

  &__label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
