@import '../../styles/colors';

.aside {
  position: static;
  display: flex;
  flex-direction: column;
  background-color: #ccc;
  transition-duration: 0.15s;
  padding: 0.5em;
  width: 20%;
  min-width: 250px;

  &__header {
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: -0.5em;
    margin-left: -0.5em;
    margin-right: -0.5em;
    position: relative;

    a {
      color: #fff;
      padding: 0 0.5em;
    }
  }

  &__navigation {
    display: flex;
    height: 100%;
  }

  &__title {
    font-size: 1.1em;
    color: white;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__logo {
    height: 40px;
    width: 40px;
    flex-shrink: 0;
    padding: 5px;

    img {
      width: 100%;
      border-radius: 50%;
    }

  }

  &__menu {
    list-style: none;
    margin: 0;
    padding-left: 0;
    width: 100%;
    overflow: auto;
    max-height: 60vh;

    &-item {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 3em;
      border-radius: 2px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.5);
      }

      &-inner {
        display: flex;
        align-items: center;
        width: 100%;
        text-decoration: none;
        color: #fff;
        justify-content: space-between;
        padding: 5px;
      }


      &--active {
        background-color: #ccc;
      }
    }


  }

  &__menu-avatar {
    height: 30px;
    flex-shrink: 0;
    padding-right: 0.5em;

    img {
      height: 100%;
    }
  }

  &__menu-content {
    flex-shrink: 1;
    margin-right: auto;
    font-size: 1.1em;
  }


&__actions {
  display: flex;
  align-items: center;
  text-align: center;
}

  h3 {
    font-size: 1em;
    padding: 5px;
    margin: 0;
  }

}

.action-button {
  border-radius: 50%;
  padding: 0;
  width: 2.1em;
  height: 2.1em;
  font-size: 2em;
}


.indicator {
  display: block;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: #fff;
  font-size: 0.9em;
  background-color: red;
  border-radius: 3px;
  line-height: 1.7em;
}
